# frontend
**/*.bundle.js
**/*.js.map
**/coverage
**/files
**/node_modules/*
**/yarn-error
**/public/static/**/*.js
**/public/index.html
**/**/*.d.ts.map

# backend
**/*/quickshare.db
**/*/files/
**/*/uploadings/