@charset "utf-8";

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  outline: 0;
  padding: 0;
  border: 0;
}
html {
  background-color: #ecf0f1;
  font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Microsoft YaHei",
    "Arial", sans-serif;
  font-size: 62.5%;
}
*:focus {
  outline: none;
}

a,
a:link,
a:visited,
a:hover,
a:active,
button,
img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
a {
  opacity: 100%;
  text-decoration: none;
  transition: color 300ms;
}
a::selection {
  background: transparent;
}

span,
div,
svg {
  transition: color 300ms, background-color 300ms;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  font-size: 1.2rem;
  line-height: 1.4rem;
  height: 1.4rem;
  padding: 0.8rem 1rem;
  border: solid 1px #95a5a6;
  border-radius: 0.5rem;
  transition: opacity 300ms, box-shadow 300ms;
}

input:focus {
  opacity: 0.8;
}

button {
  cursor: pointer;

  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 1rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  outline: none;

  transition: opacity 300ms;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 1;
}
