.dark-font {
  color: #34495e;
}
.light-font {
  color: #95a5a6;
}
.normal-font {
  color: #697384;
}
.highlight-font {
  color: #16a085;
}
.error-font {
  color: #f1c40f;
}

.lightest-bg {
  background-color: white;
}
.light-bg {
  background-color: #f6f6f6;
}
.normal-bg {
  background-color: #ecf0f6;
}
.highlight-bg {
  background-color: #16a085;
}
.dark-bg {
  background-color: #2c3e50;
}

button {
  background-color: rgba(0, 0, 0, 0.3);
}
::placeholder {
  color: #95a5a6;
}
a {
  color: #16a085;
}
a:hover {
  color: cc#2ecc71;
}
input {
  background-color: rgba(0, 0, 0, 0.15);
}
input:focus {
  opacity: 0.8;
  box-shadow: 0 0.1rem 1rem rgba(22, 160, 133, 0.1);
}

#root-frame {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.theme-default #bg {
  background: url("/static/img/textured_paper.png") repeat fixed center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

.theme-default #top-bar {
  padding: 1rem 2rem 1rem 2rem;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
}

.theme-default #top-menu {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 30px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(9.5px);
  color: #16a085;
  padding: 0.5rem 1rem;
  -webkit-backdrop-filter: blur(9.5px);
  position: relative;
  z-index: 1;
}

.theme-default #top-menu button {
  background: transparent;
}

.theme-default #panes {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow: scroll;
}

.theme-default #root-container {
  max-width: 80rem;
  width: 96%;
  text-align: left;
  margin: 3rem auto 8rem auto;
}

.theme-default #layers {
  height: 0;
  z-index: 3;
}

.theme-default #panes .container {
  padding: 2rem;
  background-color: white;
  margin: 3rem auto 1rem auto;
  border-radius: 0.6rem;
}

.theme-default #panes #title {
  text-transform: capitalize;
}

.theme-default #pane-login {
  max-width: 48rem;
  padding: 2rem;
}

.theme-default #pane-login #title {
  font-size: 2rem;
  text-align: center;
}

.theme-default #pane-login .login-container {
  margin: 2rem;
}

.theme-default #pane-login .input-wrap {
  width: 100%;
  background-color: #eaebf6;
  margin: 2rem 0 0 0;
  border-radius: 0.6rem;
  line-height: 4rem;
}

.theme-default #pane-login #captcha-input {
  width: calc(100% - 1rem);
}

.theme-default #pane-login #captcha {
  width: calc(100% - 1rem);
  background-color: #eaebf6;
  border: solid 1px #eaebf6;
  margin: 2rem 0 0 0;
  border-radius: 0.6rem;
  height: 3.8rem;
}

.theme-default #pane-login input,
.theme-default #pane-login input:hover,
.theme-default #pane-login input:focus,
.theme-default #pane-login input:active {
  width: 100%;
  padding: 0;
  border: none;
  margin: 0 1rem;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.theme-default #btn-login {
  background-color: #1abc9c;
  color: #fff;
  width: 100%;
  margin-top: 2rem;
  height: 4rem;
}



.container {
  width: 100%;
  color: #34495e;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 5px 30px 0 rgb(31 38 135 / 10%);
  margin: auto auto 2rem auto;
}

.container-padding {
  padding: 1.5rem;
}

/* .theme-default #breadcrumb .item:last-child {
  margin-right: 0;
} */



.theme-default #op-bar {
}

.theme-default #browser-op {
  margin-bottom: 1rem;
}

.theme-default #browser-op .left {
  margin: 0 1rem 0 0;
}

.theme-default #browser {
  padding-bottom: 1rem;
}

.theme-default #item-table {
  width: 100%;
  max-width: 100%;
  display: block;
}

.theme-default #item-table thead,
.theme-default #item-table tfoot,
.theme-default #item-table tbody,
.theme-default #item-table tr {
  max-width: 100%;
  display: block;
  padding: 0;
}
.theme-default #item-table td,
.theme-default #item-table th {
  display: inline-block;
  padding: 0;
}

.theme-default #item-rows {
  margin-top: 2rem;
}

/* .theme-default #item-rows .name,
.theme-default #item-rows .name a {
  color: #34495e;
  font-size: 1.8rem;
  line-height: 2rem;
  display: block;
  word-break: break-all;
} */

.theme-default #item-rows .hr {
  height: 1px;
  margin: 2rem 0;
  background-color: #ecf0f1;
}

/* .theme-default #item-rows .card {
  padding: 0.5rem 0;
  text-align: left;
} */

.theme-default .qrcode {
  padding: 1rem;
  background-color: #ecf0f1;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 30px 0 rgb(31 38 135 / 10%);
  backdrop-filter: blur(9.5px);
}

.theme-default .qrcode-flat {
  padding: 1rem;
  background-color: #ecf0f1;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
}

.theme-default .qrcode-container {
  height: 3rem;
}

.theme-default .qrcode-icon {
  height: 3rem;
}

.theme-default .qrcode-child-container {
  position: relative;
  z-index: 50;
}

.theme-default .qrcode-child {
  position: absolute;
}

.theme-default .item-cell {
  height: 5rem;
}

.theme-default .float-menu {
  position: relative;
  box-shadow: 0 5px 30px 0 rgba(31, 38, 135, 0.1);
  border-radius: 0.5rem;
  background-color: white;
}

.theme-default #browser .item-info {
  padding: 1rem 0;
  font-size: 1.2rem;
  border-top: dashed 1px #7f8c8d;
}

.theme-default #icon-home {
  color: black;
  margin-right: 1rem;
}

.theme-default #browser .error {
  line-height: 4rem;
  border: dashed 1px #e74c3c;
  background-color: #e74c3c;
  border-radius: 0.5rem;
  color: white;
  margin: 1rem;
  padding: 0 1rem;
}

.theme-default .upload-item {
  padding: 1rem 0 1rem 0;
}

.theme-default .error {
  font-size: 1.4rem;
  padding: 1rem;
  color: #f1c40f;
  margin: 1rem 0 0 0;
  background-color: #2c3e50;
  overflow-wrap: break-word;
}

.theme-default .sharing-item {
  margin: 2rem 0 2rem 0;
}

.theme-default #tabs {
  padding: 1rem;
}

.theme-default #upload-op {
  padding: 0;
}

.theme-default .red-btn {
  background-color: #e74c3c;
  color: #fff;
}

.theme-default .blue-btn {
  background-color: #3498db;
  color: #fff;
}

.theme-default .cyan-btn {
  background-color: #1abc9c;
  color: #fff;
}

.theme-default .container-center {
  margin: 2rem auto auto auto;
  width: 96%;
  max-width: 80rem;
  z-index: 9;
}

.theme-default .float {
  display: inline-block;
  margin: auto 1rem auto auto;
}

.theme-default .float-r {
  display: inline-block;
  margin: auto auto 1rem 1rem;
}

.theme-default .float-input {
  display: inline-block;
  margin: auto 1rem 1rem auto;
}

.theme-default .float-input:last-child {
  margin: auto auto auto auto;
}

.theme-default .float-input .label {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #7f8c8d;
}

.theme-default #pane-settings {
  /* padding: 2rem; */
}

.theme-default .user-form {
  font-size: 1.4rem;
  padding: 1rem 0;
  margin-top: 1rem;
  border-bottom: dashed 1px #000;
}

.theme-default .more {
  border: dashed 1px #ccc;
}

.theme-default .role-list-item {
  margin: 0 auto 1rem 0;
}

.theme-default .wide-input {
  width: 20rem;
}

.theme-default .hr {
  height: 1px;
  margin: 1rem 0;
  background-color: #ecf0f1;
}

.theme-default .key-value {
  margin-top: 0.5rem;
}

.theme-default .layer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("/static/img/textured_paper.png") repeat fixed center;
  overflow: scroll;
  z-index: 100;
}

.theme-default #login-layer {
  z-index: 200;
}

.theme-default #loading-layer {
  z-index: 201;
}

.theme-default #loading-container {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3rem;
  padding: 0.5rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 201;
  height: 5rem;
  width: 5rem;
}

.theme-default #settings-layer {
  z-index: 100;
}

.theme-default .value {
  color: #697384;
}

.theme-default #tail {
  color: #34495e;
  font-size: 1.2rem;
  text-align: center;
  margin: 4rem auto;
}

.theme-default input {
  font-size: 1.2rem;
  color: #34495e;
  background-color: #ecf0f6;
  border: solid 1px #95a5a6;
}

.theme-default .h1,
.theme-default .h2 {
  font-size: 2rem;
  font-weight: bold;
}
.theme-default .h3,
.theme-default .h4 {
  font-size: 1.8rem;
  font-weight: bold;
}
.theme-default .h5,
.theme-default .h6 {
  font-size: 1.6rem;
  font-weight: bold;
}

.theme-default .font-xs {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.theme-default .font-s {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.theme-default .font-m {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.theme-default .font-l {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.theme-default .font-xl {
  font-size: 2rem;
  line-height: 3rem;
}

.theme-default .button-default {
  color: #697384;
  background-color: #ecf0f6;
}

.item-name-vertical {
  width: 14rem;
}

.item-name-horizontal {
  width: 48rem;
}

