#root-frame {
}

.theme-default #bg {
  background: url("/static/img/textured_paper.png") repeat fixed center;
  width: 100%;
  height: 100%;
  padding: 0 0 2rem 0;
}

.theme-default #top-bar {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 30px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(9.5px);
  color: #16a085;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-backdrop-filter: blur(9.5px);
}

.theme-default #topbar-user-info {
  color: #697384;
  margin-right: 1rem;
}

.theme-default #top-bar button {
  min-width: 7rem;
}

.theme-default #panes {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow: scroll;
}

.theme-default #root-container {
  max-width: 80rem;
  width: 96%;
  z-index: 101;
  text-align: left;
  margin: 3rem auto 8rem auto;
  border-radius: 0.6rem;
}

.theme-default #panes .container {
  padding: 2rem;
  background-color: white;
  margin: 3rem auto 1rem auto;
  border-radius: 0.6rem;
}

.theme-default #panes #title {
  text-transform: capitalize;
}

.theme-default #pane-login {
  padding: 2rem;
}

.theme-default #breadcrumb {
  padding: 1rem;
  width: 100%;
}

.theme-default #breadcrumb .item {
  color: #697384;
  margin-right: 1rem;
  /* padding: 1rem; */
}

.theme-default #breadcrumb .item {
  color: #697384;
  margin-right: 1rem;
  /* padding: 1rem; */
}

.container {
  width: 100%;
  color: #34495e;
  background-color: white;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

/* .theme-default #breadcrumb .item:last-child {
  margin-right: 0;
} */

.theme-default .select-btn {
  width: 8rem;
  display: inline-block;
  margin: 0 1rem 0 0;
}

.theme-default #op-bar {
}

.theme-default #browser-op {
  padding: 1rem;
}

.theme-default #browser-op button {
  margin: 0 1rem 0 0;
}

.theme-default #browser {
  padding-bottom: 1rem;
}

.theme-default #icon-home {
  color: black;
  margin-right: 1rem;
}

.theme-default #browser .item-op {
  line-height: 4rem;
  padding: 1rem;
  text-align: right;
}

.theme-default #browser .error {
  line-height: 4rem;
  border: dashed 1px #e74c3c;
  background-color: #e74c3c;
  border-radius: 0.5rem;
  color: white;
  margin: 1rem;
  padding: 0 1rem;
}

.theme-default .upload-item {
  padding: 1rem;
}

.theme-default #share-list {
  padding: 1rem;
}

.theme-default #tabs {
  padding: 1rem;
}

.theme-default #upload-op {
  padding: 1rem;
}

.theme-default .red-btn {
  background-color: #e74c3c;
  color: #fff;
}

.theme-default .blue-btn {
  background-color: #3498db;
  color: #fff;
}

.theme-default .cyan-btn {
  background-color: #1abc9c;
  color: #fff;
}

.theme-default .container-center {
  margin: 2rem auto auto auto;
  width: 96%;
  max-width: 80rem;
  z-index: 9;
}

.theme-default .float {
  display: inline-block;
  margin: auto 1rem auto auto;
}

.theme-default .float-l {
  display: inline-block;
  margin: auto 1rem auto auto;
}

.theme-default .float-r {
  display: inline-block;
  margin: auto auto 1rem 1rem;
}

.theme-default .float-input {
  display: inline-block;
  margin: auto 1rem 1rem auto;
}

.theme-default .float-input:last-child {
  margin: auto auto auto auto;
}

.theme-default .float-input .label {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #7f8c8d;
}

.theme-default #btn-login {
  background-color: #1abc9c;
  color: #fff;
}

.theme-default .pane-title {
  color: black;
}

.theme-default #pane-settings {
  padding: 2rem;
}

.theme-default #pane-settings #profile {
  color: #95a5a6;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.theme-default .user-form {
  border: dashed 2px #ccc;
  padding: 1rem;
  margin-top: 1rem;
}

.theme-default .role-list-item {
  margin: 0 auto 1rem 0;
}

.theme-default .wide-input {
  width: 20rem;
}

.theme-default .hr {
  margin: 1rem 0;
  background-color: #ecf0f1;
}

.theme-default .key-value {
  margin-top: 0.5rem;
}

.theme-default .value {
  color: #697384;
}

.theme-default #tail {
  color: #34495e;
  font-size: 1.2rem;
  text-align: center;
  margin: 4rem auto;
}

.theme-default input {
  font-size: 1.2rem;
  color: #34495e;
  background-color: #ecf0f6;
  border: solid 1px #95a5a6;
  margin: 1rem 0;
}

.captcha {
  width: 14rem;
  height: 3rem;
  border: solid 1px #95a5a6;
  border-radius: 0.5rem;
}

.theme-default .h1,
.theme-default .h2 {
  font-size: 2rem;
  font-weight: bold;
}
.theme-default .h3,
.theme-default .h4 {
  font-size: 1.8rem;
  font-weight: bold;
}
.theme-default .h5,
.theme-default .h6 {
  font-size: 1.6rem;
  font-weight: bold;
}

.theme-default .font-xs {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.theme-default .font-s {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.theme-default .font-m {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.theme-default .font-l {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.theme-default .font-xl {
  font-size: 2rem;
  line-height: 3rem;
}

.theme-default button {
  color: #697384;
  font-size: 1.2rem;
  background-color: #ecf0f6;
}

#item-list .item-name-vertical {
  width: 14rem;
}

#item-list .item-name-horizontal {
  width: 48rem;
}
