.theme-default .card {
  padding: 1rem;
  border-radius: 0.8rem;
}

.theme-default #item-rows .column {
  width: 50%;
  max-width: 100%;
  float: left;
}

.theme-default #browser .info {
  border: dashed 1px #95a5a6;
  font-size: 1.4rem;
  padding: 1rem;
  color: #697384;
  margin: 1rem 0 0 0;
  background-color: #ecf0f1;
  white-space: nowrap;
  overflow: auto;
}

.theme-default .pane-title {
  color: black;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.theme-default #breadcrumb {
  width: 100%;
}

.theme-default #breadcrumb .location-item {
  margin: 0 0.5rem 0 0;
  display: inline-block;
  line-height: 3rem;
}

.theme-default #breadcrumb .item {
  margin: 0 0.5rem 0 0;
  max-width: 6rem;
  display: inline-block;
  line-height: 3rem;
}

.theme-default #breadcrumb .content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: block;
}

.theme-default .inline-blocks {
  display: inline-block;
  margin: auto 1rem auto auto;
}

.theme-default .select-btn {
  width: 8rem;
  display: inline-block;
}

.theme-default #space-used {
  text-align: right;
  line-height: 3rem;
  font-size: 1.4rem;
}

.theme-default .badge {
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  line-height: 1.2rem;
  display: inline-block;
}

.theme-default #upload-list .progress-grey {
  background-color: #ecf0f6;
  width: 100%;
  height: 0.3rem;
}

.theme-default #upload-list .progress-green {
  background-color: #1abc9c;
  height: 100%;
  transition: width 300ms;
}

.theme-default #upload-list .info {
  display: inline-block;
  width: 70%;
}

.theme-default #upload-list .op {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.theme-default #upload-list .title {
  font-size: 1.4rem;
  line-height: 3.2rem;
  overflow-wrap: break-word;
}

.theme-default #upload-list .desc {
  font-size: 1.2rem;
  line-height: 3.2rem;
  overflow-wrap: break-word;
}

.theme-default #item-rows .desc {
  display: block;
  word-break: break-all;
  border-radius: 0.8rem;
}
