html {
  background: url("ggb.jpg") no-repeat left center fixed;
  background-size: auto 100%;
  /* background-image: url("squared_metal.png"); repeat fixed*/
  background-color: black;
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

a {
  outline: none;
  border: none;
}

.anm-rotate {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.anm-lighter:hover {
  animation: lighter 0.5 1;
}

@keyframes lighter {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
}

::-moz-selection {
  background: #2ecc71;
  color: #fff;
}
::selection {
  background: #2ecc71;
  color: #fff;
}
