fs:
  root: "/quickshare/root"
  opensLimit: 1024
  openTTL: 60 # 1 min
server:
  debug: false
  host: "0.0.0.0"
  port: 8686
  readTimeout: 2000
  writeTimeout: 86400000 # 1 day
  maxHeaderBytes: 512
  publicPath: "/quickshare/static/public"
  searchResultLimit: 16
  initFileIndex: true
users:
  enableAuth: true
  defaultAdmin: ""
  defaultAdminPwd: ""
  cookieTTL: 604800 # 1 week
  cookieSecure: false
  cookieHttpOnly: true
  minUserNameLen: 3
  minPwdLen: 6
  captchaWidth: 256
  captchaHeight: 60
  captchaEnabled: true
  uploadSpeedLimit: 524288 # 500k/limiterCyc
  downloadSpeedLimit: 524288 # 500k/limiterCyc
  spaceLimit: 104857600 # 100MB
  limiterCapacity: 1000
  limiterCyc: 1000 # 1s
  predefinedUsers:
    - name: "demo"
      pwd: "Quicksh@re"
      role: "user"
db:
  dbPath: "/quickshare/root/quickshare.db"
