fs:
  root: "tmp"
  opensLimit: 1024
  openTTL: 60 # 1 min
secrets:
  tokenSecret: ""
server:
  debug: true
  host: "127.0.0.1"
  port: 8686
  readTimeout: 2000
  writeTimeout: 86400000 # 1 day
  maxHeaderBytes: 512
  publicPath: "static/public"
  searchResultLimit: 16
  initFileIndex: true
users:
  enableAuth: true
  defaultAdmin: ""
  defaultAdminPwd: ""
  cookieTTL: 604800 # 1 week
  cookieSecure: false
  cookieHttpOnly: true
  minUserNameLen: 2
  minPwdLen: 4
  captchaWidth: 256
  captchaHeight: 60
  captchaEnabled: true
  uploadSpeedLimit: 524288 # 500KB/limiterCyc
  downloadSpeedLimit: 524288 # 500KB/limiterCyc
  spaceLimit: 104857600 # 100MB
  limiterCapacity: 1000
  limiterCyc: 1000 # 1s
  predefinedUsers:
    - name: "demo"
      pwd: "Quicksh@re"
      role: "user"
workers:
  queueSize: 1024
  sleepCyc: 1 # in second
  workerCount: 2
site:
  clientCfg:
    siteName: "Quickshare"
    siteDesc: "Quick and simple file sharing"
    bg:
      url: ""
      repeat: "repeat"
      position: "center"
      align: "fixed"
db:
  dbPath: "quickshare.sqlite"
