fs:
  root: "/quickshare/root"
  opensLimit: 128
  openTTL: 60 # 1 min
secrets:
  tokenSecret: ""
server:
  debug: false
  host: "0.0.0.0"
  port: 8686
  readTimeout: 8000
  writerTimeout: 86400000 # 1 day
  maxHeaderBytes: 512
  publicPath: "/quickshare/public"
  captchaWidth: 256
  captchaHeight: 60
  captchaEnabled: true
  uploadSpeedLimit: 102400 # 100k/limiterCyc
  downloadSpeedLimit: 102400 # 100k/limiterCyc
  spaceLimit: 104857600 # 100MB
  limiterCapacity: 1000
  limiterCyc: 1000 # 1s
users:
  enableAuth: true
  defaultAdmin: ""
  defaultAdminPwd: ""
  cookieTTL: 604800 # 1 week
  cookieSecure: false
  cookieHttpOnly: true
  minUserNameLen: 4
  minPwdLen: 6
  predefinedUsers:
    - name: "demo"
      pwd: "Quicksh@re"
      role: "user"
workers:
  queueSize: 1024
  sleepCyc: 1 # in second
  workerCount: 2
site:
  clientCfg:
    siteName: "Quickshare"
    siteDesc: "quick and simple file sharing"
    bg:
      url: "/static/img/textured_paper.png"
      repeat: "repeat"
      position: "fixed"
      align: "center"
