fs:
  root: "/quickshare/root"
  opensLimit: 1024
  openTTL: 60 # 1 min
server:
  debug: false
  host: "0.0.0.0"
  port: 8686
  readTimeout: 2000
  writeTimeout: 86400000 # 1 day
  maxHeaderBytes: 512
  publicPath: "/quickshare/static/public"
  searchResultLimit: 16
  initFileIndex: true
db:
  dbPath: "/quickshare/root/quickshare.db"
