@charset "utf-8";

/* ids */

#root-frame {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.theme-default #breadcrumb {
  width: 100%;
}

.theme-default #breadcrumb .location-item {
  display: inline-block;
  /* line-height: 3rem; */
}

.theme-default #breadcrumb .item {
  margin: 0 0.5rem 0 0;
  max-width: 6rem;
  display: inline-block;
  /* line-height: 3rem; */
}

.theme-default #breadcrumb .content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: block;
}

.theme-default #space-used {
  /* text-align: right;
  /* line-height: 3rem; */
  /* font-size: 1.4rem; */
}

.theme-default #sharing-list .desc {
  background-color: #ecf0f1;
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #697384;
  padding: 1rem;
  border: dashed 1px #95a5a6;
  overflow-wrap: break-word;
}

.theme-default #bg {
  background: url("/img/textured_paper.png") repeat fixed center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

.theme-default #top-bar {
  padding: 1rem 2rem 1rem 2rem;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
}

.theme-default #top-menu {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 30px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(9.5px);
  color: #16a085;
  padding: 0.5rem 1rem;
  -webkit-backdrop-filter: blur(9.5px);
  position: relative;
  z-index: 1;
}

.theme-default #top-menu button {
  background: transparent;
}

.theme-default .qrcode {
  padding: 1rem;
  background-color: #ecf0f1;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 30px 0 rgb(31 38 135 / 10%);
  backdrop-filter: blur(9.5px);
}

.theme-default .qrcode-container {
  height: 3rem;
}

.theme-default .qrcode-icon {
  height: 3rem;
}

.theme-default .qrcode-child-container {
  position: relative;
  z-index: 50;
}

.theme-default .qrcode-child {
  position: absolute;
}

.theme-default .container-center {
  margin: 0 auto auto auto;
  width: 96%;
  max-width: 128rem;
  z-index: 9;
}

.theme-default .layer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.5px);
  overflow: scroll;
  z-index: 100;
}

.theme-default #login-layer {
  z-index: 200;
}

.theme-default #loading-layer {
  z-index: 201;
}

.theme-default #loading-container {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3rem;
  padding: 0.5rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 201;
  height: 5rem;
  width: 5rem;
}

.theme-default #settings-layer {
  z-index: 100;
}

.theme-default #footer {
  font-size: 1.2rem;
  text-align: center;
  margin: 4rem auto;
}

.theme-default input {
  font-size: 1.2rem;
  color: #34495e;
  background-color: #ecf0f6;
  /* border: solid 1px #95a5a6; */
}

.container-padding {
  padding: 1rem 1.5rem;
}

.theme-default #panes #title {
  text-transform: capitalize;
}

.theme-default #pane-login {
  max-width: 48rem;
  width: 100%;
  margin: auto;
}

.theme-default #pane-login #title {
  font-size: 2rem;
  text-align: center;
}

.theme-default #pane-login .login-container {
  background-color: white;
  margin: 4rem 1rem auto 1rem;
  border-radius: 0.6rem;
}

.theme-default #pane-login #captcha-input {
  width: calc(50% - 1rem);
}

.theme-default #pane-login #captcha {
  width: calc(50% - 1rem);
  background-color: #eaebf6;
  margin: 0 0 0 2rem;
  height: 3.2rem;
}

.theme-default #pane-login input,
.theme-default #pane-login input:hover,
.theme-default #pane-login input:focus,
.theme-default #pane-login input:active {
  width: 100%;
  background-color: #eaebf6;
  padding: 0.6rem 0.8rem;
  margin: auto auto 2rem auto;
  border: none;
  outline: none;
  box-shadow: none;
}


.theme-default #btn-login {
  background-color: #1abc9c;
  color: #fff;
  width: 100%;
  height: 4rem;
}

.theme-default #layers {
  height: 0;
  z-index: 3;
}

.theme-default #root-container {
  max-width: 128rem;
  width: 96%;
  text-align: left;
  margin: 3rem auto auto auto;
}

.theme-default .tabs button {
  /* padding: 0.5rem 0; */
}

/* +composition */

.theme-default .my-container {
  width: 100%;
  color: #34495e;
  background-color: white;
  /* border-radius: 0.8rem; */
  /* box-shadow: 0 5px 30px 0 rgb(31 38 135 / 10%); */
  margin: auto auto 1rem auto;
  min-width: 60rem;
}

.theme-default .info {
  border: dashed 1px #95a5a6;
  font-size: 1.4rem;
  padding: 1rem;
  color: #697384;
  margin: 1rem 0 0 0;
  white-space: nowrap;
  overflow: auto;
}

.theme-default .badge {
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  line-height: 1.2rem;
  display: inline-block;
}

.theme-default .progress-grey {
  background-color: #ecf0f6;
  width: 100%;
  height: 0.3rem;
}

.theme-default .progress-green {
  background-color: #1abc9c;
  height: 100%;
  transition: width 300ms;
}

.theme-default .col-l {
  float: left;
  width: 70%;
  overflow-wrap: break-word;
}

.theme-default .col-r {
  float: right;
  width: 30%;
  text-align: right;
}

.theme-default .error-inline {
  font-size: 1.4rem;
  padding: 1rem;
  color: #f1c40f;
  margin: 1rem 0 0 0;
  background-color: #2c3e50;
  white-space: nowrap;
  overflow: auto;
}

.theme-default .label {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #7f8c8d;
}

.theme-default .error {
  font-size: 1.4rem;
  padding: 1rem;
  color: #f1c40f;
  margin: 1rem 0 0 0;
  background-color: #2c3e50;
  overflow-wrap: break-word;
}

.theme-default .hr {
  height: 1px;
  margin: 1rem 0;
  background-color: #ecf0f1;
}

.theme-default .drop-area-container {
  position: relative;
  width: 100%;
  padding-top: 20rem;
}

.theme-default .drop-area {
  opacity: 0.8;
  backdrop-filter: blur(9.5px);
  text-align: center;
  border-radius: 0.8rem;
  padding: 2rem 0;
  margin: auto;
  width: 25rem;
}

.theme-default #login-layer {
  z-index: 200;
}

.theme-default #drop-area-layer {
  z-index: 4;
}

/* +colors */

.theme-default .minor-font {
  color: #ccc;
}
.theme-default .major-font {
  color: #95a5a6;
}
.theme-default .normal-font {
  color: #697384;
}
.theme-default .focus-font {
  color: #16a085;
}
.theme-default .error-font {
  color: #f1c40f;
}

.theme-default .major-bg {
  background-color: #f6f6f6;
}
.theme-default .normal-bg {
  background-color: white;
}
.theme-default .focus-bg {
  background-color: #16a085;
}
.theme-default .minor-bg {
  background-color: #ecf0f6;
}
.theme-default .reverse-bg {
  background-color: #000;
}
.theme-default ::placeholder {
  color: #95a5a6;
}
.theme-default a {
  /* color: #16a085; */
  color: #333;
}
.theme-default a:hover {
  color: #2ecc71;
}
.theme-default input:focus {
  opacity: 0.8;
  box-shadow: 0 0.1rem 1rem rgba(22, 160, 133, 0.1);
}
.theme-default .button-default {
  color: #697384;
  background-color: #ecf0f6;
}
