.desktop .font-xs {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.desktop .font-s {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.desktop .font-m {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.desktop .font-l {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.desktop .font-xl {
  font-size: 2.0rem;
  line-height: 3rem;
}
