#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}

#top-bar {
  line-height: 3rem;
}

#container-center {
  margin: 5rem auto auto auto;
  width: 96%;
  max-width: 960px;
}

#op-bar {
  width: 96%;
  max-width: 960px;

  position: fixed;
  top: 6rem;
  right: auto;
  bottom: auto;
  left: auto;
  line-height: 3rem;
  border-radius: 0.6rem;
}

#item-list {
  margin-top: 12rem;
}

#item-list table {
  width: 100%;
  color: #34495e;
  font-size: 1.4rem;
  line-height: 4rem;
  background-color: white;
  border-radius: 0.8rem;
  margin-bottom: 8rem;
}

#item-list tr {
  border-top: solid 1px transparent;
}

#item-list .item-name {
  display: block;
  max-width: 8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#item-list tr:hover {
  opacity: 0.8;
}

#panel {
  position: fixed;
  top: 4rem;
  right: 0.5rem;
  bottom: 6rem;
  left: 0.5rem;

  width: 80%;
  margin: auto;
  border-radius: 1.4rem;
  background-color: white;
}
#panel-head {
  text-align: left;
  /* box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.1); */

  padding: 1rem 2rem 1rem 2rem;

  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;

  font-size: 2.0rem;
  line-height: 3.9rem;
}

#panel-head-menu {
  text-align: right;

  /* height: 3rem; */

  position: absolute;
  top: 4rem;
  right: 0;
  bottom: auto;
  left: 0;
  /* display: flex;
  justify-content: space-between; */
  padding: 1rem 2rem;
  line-height: 4rem;
  /* background-color: rgba(255, 255, 255, 0.6); */
}
.text-header {
  font-size: 1.8rem;
  font-weight: bold;
  color: #16a085;
  margin: auto;
  line-height: 4rem;
}
#panel-body {
  text-align: left;
  overflow: hidden;

  position: absolute;
  top: 6rem;
  right: 0;
  bottom: 0.5rem;
  left: 0;
  /* box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1); */
}
#nav-bar {
  text-align: center;

  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 0;

  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5rem;
  box-shadow: 0 -0.2rem 3rem rgba(0, 0, 0, 0.1);
}
.nav-bar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.win-left-bar {
  text-align: right;

  position: absolute;
  top: 0.5rem;
  /* right: auto; */
  /* bottom: 0.5rem; */
  left: -0.5rem;
  /* box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1); */
}

.win-right-bar {
  text-align: left;

  position: absolute;
  top: 0.5rem;
  /* right: auto; */
  /* bottom: 0.5rem; */
  right: -0.5rem;
  /* box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1); */
}
.right-bar {
  font-size: 1.3rem;
  line-height: 3rem;

  width: 20rem;
  position: absolute;
  left: 2rem;
  top: 4rem;
}
.link-list {
  display: flex;
  justify-content: space-between;
}
.ad-wrap {
  padding: 0 0 1rem 0;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  text-align: center;
}
.ad-wrap-title {
  line-height: 200%;
}

/* layoout */
.flex-2col-parent {
  display: flex;
  justify-content: space-between;
}
.flex-2col {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}
.flex-23col {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66%;
}
.flex-13col {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 31%;
}
.flex-col-parent {
  display: flex;
  justify-content: space-between;
}
.flex-col {
  flex-grow: 0;
  flex-shrink: 0;
}
.clearfix {
  clear: both;
}
.section {
  text-align: left;
  /* margin-bottom: 2rem; */
  padding: 2rem;
}
.section-h {
  text-align: left;
  /* margin-bottom: 2rem; */
  padding: 1rem 2rem;
}

.font-grey {
  color: #999;
}
.margin-m {
  margin: 0.5rem;
}
.margin-right-s {
  margin-right: 0.25rem;
}
.margin-right-m {
  margin-right: 0.5rem;
}
.margin-l {
  margin: 1rem;
}
.margin-h-l {
  margin: 1rem 0;
}
.margin-h-m {
  margin: 0.8rem 0;
}
.margin-right-l {
  margin-right: 1rem;
}
.margin-left-s {
  margin-left: 0.25rem;
}
.margin-left-m {
  margin-left: 0.5rem;
}
.margin-left-l {
  margin-left: 1rem;
}

/* font */
.bold {
  font-weight: bold;
}
.weight-normal {
  font-weight: normal;
}
.h1,
.h2 {
  font-size: 2rem;
  font-weight: bold;
}
.h3,
.h4 {
  font-size: 1.8rem;
  font-weight: bold;
}
.h5,
.h6 {
  font-size: 1.6rem;
  font-weight: bold;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* component */
.icon-s {
  width: 1.4rem;
  height: 1.4rem;
  margin: -0.2rem 0.5rem auto 0.5rem;
  vertical-align: middle;
}
.btn {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.pane {
  font-size: 1.4rem;
  text-align: left;

  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8rem 0 10rem 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.menu-container {
  text-align: center;
  margin: 2rem 0;
}
.menu {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  padding: 1rem 1rem;
  display: inline-block;
  border-radius: 4rem;
}
.wide-btn {
  color: white;
  text-align: center;
  display: block;
  padding: 1rem;
  margin: 2rem 2rem 6rem 2rem;
  border-radius: 2rem;
}
.border {
  height: 1px;
  opacity: 0.5;
}
.notification-container {
  position: absolute;
  top: 10rem;
  right: 0;
  bottom: auto;
  left: 0;
  max-height: 10rem;
  overflow: hidden;
  text-align: center;
  margin: auto;
  max-width: 48rem;
}
.notification {
  /* color: white; */
  background-color: rgba(0, 0, 0, 0.6);
  /* font-weight: bold; */
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
}
.notification-ok {
  color: white;
  fill: #2ecc71;
}
.notification-error {
  color: white;
  fill: #e74c3c;
}
.notification-warn {
  color: white;
  fill: #f1c40f;
}
.font-size-m {
  font-size: 1.4rem;
}
.news {
  font-size: 1.2rem;
  line-height: 4rem;

  border-collapse: collapse;
}
.news .title {
  font-size: 1.6rem;
  line-height: 2.5rem;

  display: inline-block;
  margin-bottom: 1rem;
}
.news .desc {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.bottom-line {
  padding: 3rem 0;
  text-align: center;
  color: #16a085;
}

select {
  background: white;
  border: transparent;
  color: black;
  font-size: 2rem;
}
.dot {
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;
  display: inline-block;
  line-height: 3rem;
}

input.white-square {
  border: solid 2px #fff;
  background: transparent;
  padding: 0.4rem 0.8rem;
  color: #fff;
}

.grid {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  line-height: 3rem;
}

.grid .title {
  font-weight: bold;
}

.grid .desc {
  font-size: 1.2rem;
  color: #7f8c8d;
}

.grid-dot {
  position: relative;
  right: -1rem;
  top: -1rem;
}

.hidden {
  display: none;
}

div.hr {
  height: 1px;
}

/* 
.tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-size: 1.4rem;
}
.row {
  text-align: left;
  padding: 1rem 0;
} */
