name: ci-quickshare

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
      - dev-**
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install runtimes
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.24.0"
      - uses: actions/setup-node@v2
        with:
          node-version: "24"
      - run: go version
      - name: Install dependencies
        run: |
          yarn
      - name: Backend tests
        run: |
          go test ./...
      - name: Frontend tests
        run: |
          cd ./src/client/web
          yarn test
      - name: Build
        run: |
          yarn build
